*{
  margin: 0;
  padding: 0;
}

:root{
  --IMAGE_NUM : 4;
  --facebook : #3b5998;
}

.wrap-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-time{
  font-size: 3rem;
  margin-top: 2rem;
  color: var(--facebook);
}

.image-container{
  display: none;
}

ul{
  margin-top: 1rem;
  list-style: none;
  border: 2px solid var(--facebook);
  display: grid;
  grid-template-columns: repeat(var(--IMAGE_NUM), 1fr);
}

 li{
  width: 100px;
  height: 100px;
  /* border: 1px solid red; */
  color: #fff;
  /* background: url(https://picsum.photos/400/400); */
  /* background: url('./img/KakaoTalk_Photo_2021-11-17-23-10-28 001.jpeg'); */
}

.start-button{
  background: var(--facebook);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.game-text{
  position: absolute;
  font-size: 45px;
  color: #67c23a;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  display: none;
}

.start-text{
  font-size: 30px;
  text-align: center;
  width: 400px;
  height: 400px;
  border: 1px solid gray;
}
